.App {
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.el-producto{
  background-color: #f0efef;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.el-producto:hover {
  transform: scale(1.05);
}

.el-producto img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.el-producto h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.el-producto p {
  font-size: 1em;
  color: #2e26c4;
}

.el-producto a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #131313;
  border: 1px solid #007bff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.el-producto a:hover {
  background-color: #007bff;
  color: #fff;
}



.App {
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.el-producto{
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.el-producto:hover {
  transform: scale(1.05);
}

.el-producto img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.el-producto h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.el-producto p {
  font-size: 1em;
  color: #504f53;
}

.el-producto a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #131313;
  border: 1px solid #007bff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.el-producto a:hover {
  background-color: #007bff;
  color: #fff;
}



.App {
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
  width: 100%;
}

.menu {
  width: 20%;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.content {
  width: 80%;
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.el-producto {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.el-producto img {
  max-width: 100%;
}

/* App.css */


.card {
  margin-left: 220px; /* Asegura que el contenido principal esté a la derecha del menú */
}                                                                                                             /* Menu.css */
.menu {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
}

.menu a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}

.menu a:hover {
  background-color: #ccc;
}

.sub-menu {
  padding-left: 20px;
}








