.comments-section {
    margin-top: 32px;
}

.comments-section h2 {
    margin-bottom: 16px;
}

.comments-section article {
    margin-bottom: 16px;
}

.comments-section strong {
    display: block;
    font-size: $font-size-base;
    margin-bottom: 4px;
}

.comments-section time {
    font-size: $font-size-small;
    color: gray;
    margin-bottom: 8px;
    display: block;
}

.comments-section p {
    font-size: $font-size-base;
}

